
body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #dedede;
    color: #333333;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
}

p {
    line-height: 2;
    font-size: 40px;
}



.site-init {
    background-color: #222222;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
    font-size: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px auto 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0 18px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 50px 40px;
    text-align: center;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}


.read-more {
    display: block;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    margin: 25px auto 0 auto;
    background-color: white;
    border-radius: 8px;
}



.flex-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 100%;
    gap: 40px;
}



.card {
    width: 1200px;
    background: white;
    padding: 25px;
    border: 3px solid #444;
    border-radius: 14px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.25);
    text-align: center;
    text-transform: none;
}

.card-title {
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-description {
    font-size: 25px;
    color: #333;
    margin-top: 15px;
}

